// Load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level
startupmenu
sv_unlockedchapters 99

// Apply HUD settings
vgui_cache_res_files 1