# Auto detect text files and perform LF normalization
* text=auto

# These filetypes should be recognized as VDF, not ReScript
*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=vdf
*.txt linguist-detectable=true linguist-language=vdf
*.vmt linguist-detectable=true linguist-language=vdf

# Do not export these files on download
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore